* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  width: 100vw;
  height: 100%;
  font-family: sans-serif;
}
.registration {
  margin: 20vh auto;
  padding: 20px;
  display: flex;
  width: 460px;
  height: 100%;
  border: 1px solid black;
  justify-content: center;
  align-items: center;
}
h1 {
  text-align: center;
  margin: 20px;
}
.form-group {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.form-group input {
  margin-bottom: 12px;
  padding: 4px 8px;
}
button {
  margin: auto;
  display: block;
  padding: 10px 20px;
}
