* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  width: 100vw;
  height: 100%;
  font-family: sans-serif;
}
.registration {
  margin: 20vh auto;
  padding: 20px;
  display: flex;
  width: 460px;
  height: 100%;
  justify-content: center;
  align-items: center;
  background: rgb(236, 236, 236);
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    }

h1 {
  text-align: center;
  margin: 20px;
}
.form-group {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.form-group input {
  margin-bottom: 12px;
  padding: 4px 8px;
  border-radius: 2px;
}
button {
  margin: auto;
  display: block;
  padding: 10px 20px;
}
.form-group select {
  padding: 4px 8px;
  margin-bottom: 12px;
  
}